[Ll]ibrary/
[Tt]emp/
[Bb]uilds/
[Pp]ackages/
UserSettings/
.obj/
*.user
*.csproj
*.sln
*.suo
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb
*.booproj
*.unityproj
*.prefab.unityweb
*.log
*.meta
sysinfo.txt
*.apk
*.aab
*.keystore
*.unitypackage
Game/Build/
Game/Saves/
